@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&family=Nanum+Gothic:wght@400;800&family=Oswald:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}
body{
    background:#101631;}
.quote-box{
    background: #dcdce0;
    width: 700px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    text-align: center;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 10px 20px 0px rgba(240, 237, 237, 0.411);

}

.quote-box h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 35px;
    position: relative;
}

.quote-box h2::after{
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgb(0, 0, 0);
    bottom: -10px;
    left:50%;
    transform: translateX(-50% );
    position: absolute;
}
.quote-box blockquote{
    font-size: 26px;
    min-height: 110px;

}
.quote-box blockquote::before, .quote-box blockquote::after{
content:'"';   
}
.quote-box span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

.quote-box span::before{
    content: '';
    width: 20px;
    height: 3px;
    background: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: -25px;
}

.quote-box div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.quote-box button{
    background: #000000;
    color: #fff;
    border-radius: 25px;
    border: 1px solid #101631;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}
.quote-box button img{
    width: 20px;
    margin-right: 10px;

}
.quote-box button:nth-child(1){
    background: transparent;
    color:#333 ;
    font-size: 15px;
}
